<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<div class="container">
    <h3>Names</h3>
    <a href="{% url 'about' %}">About page</a>
    <ul>
      {% for name in names %}
        <li>
          {% if name|slice:":1" == "n" %}
              {{  name|capfirst }}
          {% else %}
              {{ name }}
          {% endif %}

        </li>
      {% endfor %}
    </ul>

    <h3>Decks</h3>
    <div class="decks">
      <ul>
        {% for deck in decks %}
            <li>{{ deck }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>